.topplaylists {
    text-align: center;
}

.topplaylists-loading {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.toppplaylists-loading-img-container {
    text-align: center;
}

.topplaylists-analysis-header {
    margin-top: 1.2rem;
    text-align: center;
}

.topplaylists-col{
    padding: 12px;
    /* border: 1px solid red; */
}


.topplaylists-link {
    text-decoration: none;
    color: rgb(29, 185, 84);
}

.topplaylists-link:hover {
    color: white;
}